{{ define "main" }}
	<div class="m-auto p-4">
		<div class="card">
			{{ with  .OutputFormats.Get "vcf" -}}
			<div class="icon">
				<a href="{{ .RelPermalink }}" aria-label="{{ T "downloadVCard" }}">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentcolor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M10 6H5A2 2 0 003 8v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306.0 2.417.835 2.83 2M9 14a3.001 3.001.0 00-2.83 2M15 11h3m-3 4h2"/>
					</svg>
				</a>
			</div>
			{{- end }}
			{{ $background := .Resources.GetMatch "background" }}
			{{ with $background }}
			<picture class="cover-img">
				<source 
					srcset="
						{{- $img := . -}}
						{{- range (slice 1 1.5 1.8 2 2.4 2.5 2.75 3 3.5 4) -}}
						{{ ( ( printf "%dx%d webp" (int (mul . 512)) (int (mul . 192)) ) | $img.Fill ).RelPermalink }} {{ . }}x,
						{{- end -}}"
					type="image/webp"
				/>
				<source 
					srcset="
						{{- $img := . -}}
						{{- range (slice 1 1.5 1.8 2 2.4 2.5 2.75 3 3.5 4) -}}
						{{ ( ( printf "%dx%d jpg" (int (mul . 512)) (int (mul . 192)) ) | $img.Fill ).RelPermalink }} {{ . }}x,
						{{- end -}}"
					type="image/jpeg"
				/>
				<img src="{{ (.Fill "512x192").RelPermalink }}" alt="">
			</picture>
			{{ end }}
			{{ $portrait := .Resources.GetMatch "portrait" }}
			{{ $title := .Page.Title }}
			{{ with $portrait }}
			<div class="flex justify-center">
				<picture class="portrait-img">
					<source 
						srcset="
							{{- $img := . -}}
							{{- range (slice 1 1.5 1.8 2 2.4 2.5 2.75 3 3.5 4) -}}
							{{ ( ( printf "%dx%d webp" (int (mul . 192)) (int (mul . 192)) ) | $img.Fill ).RelPermalink }} {{ . }}x,
							{{- end -}}"
						type="image/webp"
					/>
					<source 
						srcset="
							{{- $img := . -}}
							{{- range (slice 1 1.5 1.8 2 2.4 2.5 2.75 3 3.5 4) -}}
							{{ ( ( printf "%dx%d jpg" (int (mul . 192)) (int (mul . 192)) ) | $img.Fill ).RelPermalink }} {{ . }}x,
							{{- end -}}"
						type="image/jpeg"
					/>
					<img
						src="{{ (.Fill "192x192").RelPermalink }}" alt="{{ T "profilepic" }} {{ $title }}"
					>
				</picture>	
			</div>
			{{ end }}
			<div class="p-2">
				<div class="content">
					<h3 class="title">{{ .Page.Title }}</h3>
					<div class="inner">
						{{ .Page.Content }}
					</div>
				</div>
				<div class="contact-info">
					{{ with .Page.Params.phone }}
					<div>
						<h2>{{ T "phone" }}</h2>
						<a href="tel:{{ replace . " " "" }}">
							{{ . }}
						</a>
					</div>
					{{ end }}
					<div>
						<h2>{{ T "email" }}</h2>
						<a href="mailto:{{  .Page.Params.email }}">
							{{ .Page.Params.email }}
						</a>
					</div>
					{{ with .Page.Params.linkedin }}
					<div>
						<h2>{{ T "linkedin" }}</h2>
						<a href="{{ . }}">
							{{ T "my profile" }}
						</a>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
{{ end }}
