{{ define "main" }}
	<main>
		<div class="card">
			{{ $background := .Resources.GetMatch "background" }}
			{{ $portrait := .Resources.GetMatch "portrait" }}
			{{ with  .OutputFormats.Get "vcf" -}}
			<div class="icon">
				<a href="{{ .RelPermalink }}" aria-label="{{ T "downloadVCard" }}" title="{{ T "downloadVCard" }}">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentcolor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M10 6H5A2 2 0 003 8v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306.0 2.417.835 2.83 2M9 14a3.001 3.001.0 00-2.83 2M15 11h3m-3 4h2"/>
					</svg>
				</a>
			</div>
			{{- end }}
			{{ $page := .Page }}
			{{ with $background }}
			{{ if (and $background $portrait) }}
			{{ $portraitSize := (div $background.Height 4 )}}
			{{ $logoFilter := (images.Overlay ( ( printf "%dx%d jpg" $portraitSize $portraitSize ) | $portrait.Fill ) (sub (div $background.Width 2) (div $portraitSize 2)) (sub (div $background.Height 2 ) (div $portraitSize 2) ) ) }}
			{{ $data := newScratch }}
			{{ $data.Set "fancyImage" ($background | images.Filter (images.Brightness -10) (images.GaussianBlur 10) $logoFilter) }}
			{{ $font := resources.GetRemote "https://github.com/googlefonts/opensans/raw/main/fonts/ttf/OpenSans-Light.ttf" }}
			{{ $fontsize := div $portraitSize 10 }}
			{{ if $page.Params.imgcredits }}
				{{ $textcontent := (T "imgcredits" $page)}}
				{{ $textoptions := dict 
					"color" "#fff"
					"size" $fontsize
					"font" $font
					"x" (div $fontsize 2)
					"y" (sub $background.Height (add $fontsize (div $fontsize 2)))
					"linespacing" 1
				}}
				{{ $text := images.Text $textcontent $textoptions }}
				{{ $data.Set "fancyImage" ( $data.Get "fancyImage"| images.Filter $text ) }}
			{{ end }}
			{{ $img := $data.Get "fancyImage" }}
			{{ $img := slice $img | resources.Concat "banner.jpg" | resources.Fingerprint }}
			<a href="{{ $img.RelPermalink }}" target="_blank" aria-label="{{ T "headerimg" $page }}">
			{{ else }}
			<a href="{{ .RelPermalink }}" target="_blank" aria-label="{{ T "headerimg" $page }}">
			{{ end }}
				<picture class="cover-img">
					<source 
						srcset="
							{{- $img := . -}}
							{{- range (slice 1 1.5 1.8 2 2.4 2.5 2.75 3 3.5 4) -}}
							{{ ( ( printf "%dx%d webp" (int (mul . 512)) (int (mul . 192)) ) | $img.Fill ).RelPermalink }} {{ . }}x,
							{{- end -}}"
						type="image/webp"
					/>
					<source 
						srcset="
							{{- $img := . -}}
							{{- range (slice 1 1.5 1.8 2 2.4 2.5 2.75 3 3.5 4) -}}
							{{ ( ( printf "%dx%d jpg" (int (mul . 512)) (int (mul . 192)) ) | $img.Fill ).RelPermalink }} {{ . }}x,
							{{- end -}}"
						type="image/jpeg"
					/>
					{{ with (.Fill "512x192") }}
					<img src="{{ .RelPermalink }}" alt="" width="{{ .Width }}" height="{{ .Height }}">
					{{ end }}
				</picture>
			</a>
			{{ with $page.Params.imgcredits }}
				<div class="picture-credits" role="tooltip">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
  						<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
					</svg>
					<div class="tooltip-content">
						<a href="{{ .url }}">{{ .title }}</a>{{ with .author }} {{ T "by" }} <a href="{{ .url }}">{{ .name }}</a>{{ end }} {{T "isLicensed" }} <a href="{{ .license.url }}">{{ .license.name }}</a>.
					</div>
				</div>
			{{ end }}
			{{ end }}
			{{ $title := .Page.Title }}
			{{ with $portrait }}
			<div class="img-container">
				<a href="{{ .RelPermalink }}" target="_blank">
					<picture class="portrait-img">
						<source 
							srcset="
								{{- $img := . -}}
								{{- range (slice 1 1.5 1.8 2 2.4 2.5 2.75 3 3.5 4) -}}
								{{ ( ( printf "%dx%d webp" (int (mul . 192)) (int (mul . 192)) ) | $img.Fill ).RelPermalink }} {{ . }}x,
								{{- end -}}"
							type="image/webp"
						/>
						<source 
							srcset="
								{{- $img := . -}}
								{{- range (slice 1 1.5 1.8 2 2.4 2.5 2.75 3 3.5 4) -}}
								{{ ( ( printf "%dx%d jpg" (int (mul . 192)) (int (mul . 192)) ) | $img.Fill ).RelPermalink }} {{ . }}x,
								{{- end -}}"
							type="image/jpeg"
						/>
						{{ with (.Fill "192x192") }}
						<img
							src="{{ .RelPermalink }}" alt="{{ T "profilepic" }} {{ $title }}"
							width="{{ .Width }}" height="{{ .Height }}"
						>
						{{ end }}
					</picture>	
				</a>
			</div>
			{{ end }}
			<div class="card-lower">
				<div class="content">
					<h1 class="title">{{ .Page.Title }}</h1>
					<div class="inner">
						{{ .Page.Content }}
					</div>
				</div>
				<div class="contact-info">
					{{ with .Page.Params.phone }}
					<div>
						<h2>{{ T "phone" }}</h2>
						<a href="tel:{{ replace . " " "" }}">
							{{ . }}
						</a>
					</div>
					{{ end }}
					{{ with .Page.Params.email }}
					<div>
						<h2>{{ T "email" }}</h2>
						<a href="mailto:{{  . }}">
							{{ . }}
						</a>
					</div>
					{{ end }}

					{{ with .Page.Params.mastodon }}
					<div>
						<h2>{{ T "mastodon" }}</h2>
						<a rel="me" href="{{ . }}">
							{{ replaceRE "^https?://.+..+/@(.+)" "@$1" . }}
						</a>
					</div>
					{{ end }}
					{{ with .Page.Params.linkedin }}
					<div>
						<h2>{{ T "linkedin" }}</h2>
						<a href="{{ . }}">
							{{ T "my profile" }}
						</a>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</main>
{{ end }}
