@import "tailwindcss";

@theme {
	--breakpoint-xs: 24rem;
}

@layer base {

	body {
		@apply flex flex-col h-dvh relative bg-gray-100 dark:bg-gray-800;
	}

	/* Footer */
	footer {
		@apply relative bottom-2 w-full dark:text-white;

		p {
			@apply text-xs p-2 text-center;
		}
	}

	main {
		@apply m-auto p-4 transition-all duration-666;
	}

	main:has(#card-container.raised) {
		@apply mx-auto;
	}
	
}

@layer components {

	/* Card */
	#card-container {
		@apply flex flex-col gap-12;
	}
	#card-container.raised .card {
		@apply rotate-x-0 rotate-y-0 rotate-z-0;
	}
	#card-container.flipped .card {
		@apply rotate-x-0 rotate-y-180 rotate-z-0;
	}
	.card {
		@apply rounded-sm 
		 relative
		aspect-[91/55] w-70 xs:w-80 sm:w-88 md:w-96
		bg-white dark:bg-black text-black dark:text-white overflow-visible
		rotate-x-30 rotate-y-1 rotate-z-15 transform-3d
		transition-transform duration-666
		shadow-2xl;

		.front, .back {
			@apply backface-hidden absolute w-full h-full p-4;
		}

		.back {
			@apply rotate-y-180 transform-3d overflow-y-auto;

			p {
				@apply text-sm;

				a {
					@apply text-blue-600 dark:text-blue-400 hover:underline;
				}
			}    

			p:not(:last-child)  {
				margin-bottom: 1rem;
			}
		}

		.front {
			@apply flex gap-4 justify-between flex-row-reverse rotate-y-0 transform-3d;

			.card-left {
				@apply flex flex-col justify-between;
			}
	
			.content {
	
				h1.title {
					@apply text-xl font-medium;
				}
	
				.inner {
					@apply mt-2 font-light text-left;
	
					h2 {
						@apply text-lg font-medium;
					}
				}
			}
	
			.contact-info {
				@apply flex flex-col justify-start mx-auto w-max;
	
				div {
					@apply flex flex-row-reverse justify-end items-end gap-2;
	
					a {
						@apply font-light text-sm text-current;
					}
	
					h2 {
						@apply text-gray-700 dark:text-gray-300 text-xs h-min;
					}
				}
			}
		}

		

		/* Img stuff */
		.img-link {
			@apply flex justify-center;

			.portrait-img > img {
				@apply rounded-sm w-32;
			}
		}
	}

	.icons {
		button {
			svg {
				@apply size-6;
			}
		}

		button.raise {
			@apply group-[.raised]:hidden;
		}

		button.reset {
			@apply group-[.raised]:block hidden;
		}
	}

	/* Menu */
	.menu {

		@apply text-xs relative dark:text-white flex flex-row justify-between;

		div {
			@apply mt-2 mx-2;
		}

		.list {
			@apply flex m-2;

			.item {
				@apply leading-5 text-current justify-center px-2;
			}

			.item.active {
				@apply font-bold;
			}
		}
	}

	/* Icons */ 
	.icons {
		@apply w-full flex justify-evenly;

		button, a {
			@apply p-2 hover:bg-gray-200 dark:hover:bg-gray-700 rounded transition-colors cursor-pointer;
		}
	}
}