@import "tailwindcss";

body {
	@apply flex flex-col h-screen relative bg-gray-100 dark:bg-gray-800;
}

/* Base stuff */
a {
	@apply text-blue-600 dark:text-blue-400 hover:underline;
}

/* Card */

main {
	@apply m-auto p-4;
}

.card {
	@apply rounded-lg overflow-hidden shadow max-w-lg my-1 bg-white dark:bg-black text-black dark:text-white overflow-visible shadow-lg relative;

	.icon {
		@apply absolute top-2 right-2 w-10;

		a {
			@apply text-white;
		}
	}

	.picture-credits {
		@apply absolute inline-block; 

		.tooltip-content {
			@apply opacity-0 transition-opacity w-48
				text-xs
				absolute -top-10 left-6
				bg-white/80
				dark:bg-black
				p-2 rounded
			;
		}

		svg {
			@apply w-4 h-4 text-white absolute bottom-1 left-1 bg-black rounded-full;
		}
	}

	.picture-credits:hover {
		.tooltip-content {
			@apply opacity-100;
		}	
	}

	.card-lower {
		@apply p-2;
	}

	.content {
		@apply text-center px-3 pb-6 pt-2;

		h1.title {
			@apply text-xl font-sans font-medium;
		}

		.inner {
			@apply mt-2 font-sans font-light text-left;

			h2 {
				@apply text-lg font-medium;
			}

			p:not(:last-child), ul:not(:last-child)  {
				margin-bottom: 1rem;
			}
		}
	}

	.contact-info {
		@apply flex flex-col sm:flex-row justify-center pb-3 mx-auto w-max;

		div {
			@apply text-center;

			a {
				@apply font-light text-sm text-current;
			}
		}

		div:not(:last-child) {
			@apply mb-1 border-b pb-1 px-6 sm:px-0 sm:mb-0 sm:border-b-0 sm:pb-0 sm:mr-3 sm:border-r sm:pr-3;
		}
	}

	/* Img stuff */

	.cover-img > img {
		@apply rounded-t-lg w-full max-h-48 object-cover;
	}

	.img-container {
		@apply flex justify-center;

		.portrait-img > img {
			@apply rounded-full border-solid border-white dark:border-gray-900 border-2 -mt-16 w-32 h-32;
		}
	}

	
}

/* paper */

.paper {
	@apply p-8
	shadow shadow-lg max-w-lg 
	bg-white dark:bg-black 
	text-black dark:text-white 
	overflow-visible 
	font-serif
	text-center
	flex flex-col gap-6;

	h1.title {
		@apply text-xl;
	}

	h2 {
		@apply text-base font-bold;
	}

	.authors, .date {
		@apply text-lg;
	}

	.abstract {
		@apply text-left;
		h2 {
			@apply text-base font-bold text-center;
		}

		p {
			@apply text-justify hyphens-auto;

			a {
				@apply text-inherit hover:underline;
			}
		}
	}
}
/* Menu */

.menu {

	@apply text-xs relative dark:text-white flex flex-row justify-between;

	div {
		@apply mt-2 mx-2;
	}

	.list {
		@apply flex m-2;

		.item {
			@apply leading-5 text-current justify-center px-2;
		}

		.item.active {
			@apply font-bold;
		}
	}
}

footer {
	@apply relative bottom-2 w-full dark:text-white;

	p {
		@apply text-xs p-2 text-center;
	}
}