<div class="menu left">
	<div class="list">
		{{- $currentPage := . -}}
		{{- range .Site.Menus.main }}
		<a class="item {{- if ($currentPage.IsMenuCurrent "main" .) }} active {{- end }}" href="{{ .URL | absLangURL }}">
			{{ .Title }}
		</a>
		{{- end }}
	</div>
</div>

<div class="menu right">
	{{ if gt (len .Page.AllTranslations) 1 }}
		<div class="list">
			{{- $currentLangague := .Site.Language -}}
			{{- range .Page.AllTranslations }}
			<a class="item {{- if eq $currentLangague.Lang .Lang }} active {{- end }}" href="{{ .Permalink }}">
				{{ .Language.LanguageName }}
			</a>
			{{- end }}
		</div>
	{{ end }}
</div>