{{- with $.Params.images -}}
<meta roperty="twitter:card" content="summary_large_image"/>
<meta roperty="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
{{- $images := $.Resources.ByType "image" -}}
{{ $portrait := $images.GetMatch "{*portrait*}" }}
{{ $background := $images.GetMatch "{*background*}" }}
{{- with $portrait -}}
<meta roperty="twitter:card" content="summary_large_image"/>
<meta roperty="twitter:image" content="{{ $portrait.Permalink }}"/>
{{- else -}}
{{- with $.Site.Params.images -}}
<meta roperty="twitter:card" content="summary_large_image"/>
<meta roperty="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
<meta roperty="twitter:card" content="summary"/>
{{- end -}}
{{- end -}}
{{- end }}
<meta roperty="twitter:title" content="{{ .Title }}"/>
<meta roperty="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ with .Site.Params.Params.twitter -}}
<meta roperty="twitter:site" content="@{{ . }}"/>
{{ end -}}
{{ range .Site.Params.Authors }}
{{ with .twitter -}}
<meta roperty="twitter:creator" content="@{{ . }}"/>
{{ end -}}
{{ end -}}